@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');
* {
    box-sizing: border-box;
}
html {
    min-height: 100vh;
}
body {
    margin: 0;
    background: radial-gradient(lime, gold);
    font-family: 'Gochi Hand', cursive;
}
h2 {
    text-align: center;
}
p, .times {
    margin: 20px;
}
.title-game {
    color: rgb(199,1,30);;
    text-align: center;
    font-size: 3.5em;
}

.rules-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}
.main-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 8px;
    justify-content: center;
    margin-bottom: 100px;
    color: black;
    font-size: 2.1em;
   
}

.cards {
    background-color: white;
    height: 115px;
    width: 115px;
    border-radius: 15px;
    transition: transform .2s;
    border: 1px solid gray;
    position: relative;
    transform-style: preserve-3d;
    
}
.front-face {
    backface-visibility: hidden;
     transform: rotateY(180deg);
}
.back-face {
    backface-visibility: hidden;
    
}
.cards:hover {
    transform: scale(1.05);
    transform: rotateY(180deg);
    transition: ease .6s;
}

img {
    height: 111px;
    width: 111px;
    border-radius: 15px;
}
.front-face, .back-face {
    position: absolute;
}
.buttons {
    text-align: center;
}
button {
    font-family: 'Gochi Hand', cursive;
    width: 100px;
    font-size: 1.5em;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background: rgb(199,1,30);
    padding: 5px 10px;
    border-radius: 30px;
    border: none;
    margin: 5px;
}
button:hover {
   transform: scale(1.1);
   box-shadow: 3px 3px white;
   opacity: 0.9;
}

@media screen and (max-width: 800px) {
  .cards{
      height: 95px;
      width: 95px;
  }
  img {
      height: 91px;
      width: 91px;
  }
  .main-container {
      grid-gap: 4px;
  }
  .title-game {
      font-size: 2.5em;
  }
  .main-container {
      font-size: 1.6em;
  }
  }
@media screen and (max-width: 480px) {
  .cards{
      height: 70px;
      width: 70px;
  }
  img {
      height: 66px;
      width: 66px;
  }
  .main-container {
      grid-gap: 1px;
  }
  .title-game {
      font-size: 2em;
  }
  .main-container {
      font-size: 1.2em;
  }
  button {
    width: 80px;
    font-size: 1em;
}
  }
